<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.app.exera.scanner">
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.app.exera.scanner.CameraScan"></activity>

    </application>

</manifest>
